body{
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-gap: 3px;
}

#g1{
    grid-column: 1/2;
    text-align: center;
}

#g2{
    grid-column: 2/3;
    text-align: center;
}

#g3{
    grid-column: 3/4;
    text-align: center;
}

h1{
    text-align: center;
    grid-column: 1/4;
}

#torzs{
    grid-column: 1/4;
    text-align: justify;
}